<% if @events %>



<h2>Next 10 games:</h2>

<% @events.each do |event| %>

<table>


<tr><td><%= event.title %></td><td rowspan='7'><img src='<%= event.image %>'></td></tr>
<tr><td><%= event.date %></td></tr>
<tr><td><%= event.stadium %></td></tr>
<tr><td><%= event.location %></td></tr>
<tr><td>Tickets Available: <%= event.ticket_count %></td></tr>
<tr><td>Lowest Price: $<%= event.lowest_price %>0</td></tr>
<tr><td><a href='<%= event.buy_url %>'>Buy Tickets</a></td></tr>

</table>
<hr>



<% end %>

</table>

<form action='/' method='post'>
    <input type='text' name='event' placeholder='Enter event'>
    <input type='submit' value='submit'>
</form>

<% else %>

<form action='/' method='post'>
    <input type='text' name='event' placeholder='Enter event'>
    <input type='submit' value='submit'>
</form>

<% end %>
